/* css reset  */
*{
margin: 0;
padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* css variables  */
:root{
    --navbar-height: 59px;
}
/* navigation bar */
#navbar{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
/* navigation bar: logo and image */
#logo{
    margin: 10px 20px;
}
#logo img{
    height: 65px;
    margin: 3px 8px;
}
/* navigation bar: list styling */
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.1rem;
    font-family: 'Josefin Sans', sans-serif;
}
#navbar ul li a{
    display: block;
    border-radius: 22px;
    color: white;
    padding: 8px 14px;
    margin: 16px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    align-items: center;
    justify-content: center;
    height: 530px;
}
#home::before{
    content: "";
    background: url('../bg2.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 640px;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}
/* services section  */
#services{
    margin: 6px;
    display: flex;
}
#services .box{
     border: 2px solid brown;
     margin: 4px 20px;
     padding: 30px;
     border-radius: 22px;
     background-color: rgb(251, 224, 224);
     margin-bottom: 10px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Josefin Sans', sans-serif;
}
/* client section  */
#client-section{
    height: 344px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg')no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    margin: 34px;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 10px;
}
#clients img{
    height: 110px;
}

/* contact section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg')no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 14px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* utility classes  */
.h-primary{
    font-size: 3.2rem;
    padding: 12px;
    font-family: 'Josefin Sans', sans-serif;
}
.h-secondary{
    font-size: 2.0rem;
    padding: 12px;
    font-family: 'Josefin Sans', sans-serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
}
.center{
    text-align: center;
}